*{

    margin: 0;
    padding: 0;
}



.card{
    margin: auto;
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(243, 241, 241);
    
}

.search input{

    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 45px;
    margin-top: 20px;
    margin-left: 35%;
    background-color: rgb(225, 223, 223);
    color: black;
   
}

img{

    width: 23px;
    height: 23px;
    position: absolute;
    left: 36%;
    top: 25px;
}

select{

    width: 120px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgb(220, 213, 213);
    margin-left:20%;
}

.b1{

    width: 60px;
    height: 30px;
    background-color: green;
    border: none;
    border-radius: 4px;
    margin-left: 20px;
    color: white;

}

input{

    width: 150px;
    height: 20px;
}

.savebtn{

    width: 60px;
    height: 30px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;


}

h1{

    font-size: 20px;
    font-family: arial;
    padding-left: 30px;
    padding-top: 40px;
}

table{

    width: 100%;
border-collapse: collapse;
/* padding: 20px; */
margin-top: 30px;  

color: black;
}

.table{

    width: 80%;
    margin: auto;
}

th,td{

  border: 1px solid grey;
   padding:15px; 
}

.popup{

    display: none;

    position: absolute;
    width: 250px;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%,-50%);
    background-color: rgb(173, 170, 170);
}

.popup h1{

    padding-left: 80px;
}

.popup input{

    width: 180px;
    height: 20px;
    margin-left: 20px;
}

.popup .b1{

    margin-left: 90px;
}

.editbtn{

    width: 50px;
    height: 25px;
    border-radius: 4px;
    background-color: rgb(30, 141, 238);
    border: none;
    font-size: 13px;
}

.deletebtn{

    width: 50px;
    height: 25px;
    border-radius: 4px;
    background-color: rgb(223, 30, 30);
    border: none;
     font-size: 13px;
}